{% extends "index.html" %}
{% block content %}


<div class="container">
    <div class="section">
        <div class="row">

            {% if ok %}
            <div>
                <h5 class="infoV">Le produit : "{{produit.productName}}" a été modifié avec succès!</h5>
            </div>
            {% endif %}

            {% if errors %}
             <div>
                <h5 class="infoR">Veuillez corriger les erreurs indiquées!</h5>
            </div>
            {% endif %}



            <form method="post" class="col s12" enctype="multipart/form-data">

                {% if produit.productCode|length > 0 %}
                <h5 class="col s12 center" style="margin-bottom: 10px">Edition du produit <strong>{{produit.productCode}}</strong></h5>

                <input type="hidden" name="productCode" id="productCode" value="{{produit.productCode}}">
                {% else %}
                <label for="productCode"> Code du produit (unique) : </label>
                <input type="text" name="productCode" id="productCode" value="{{produit.productCode}}" minlength="8"
                       maxlength="8">
                {% endif %}

                <div class="row">
                    <div class="input-field col s8">
                        <input placeholder="Nom" type="text" id="productName"
                               name="productName" class="validate" value="{{produit.productName}}"
                               maxlength="50">
                        <label for="productName"> Nom du produit : </label>
                        {% if errors.productName %}
                        <pre class="erreur">{{errors.productName}}</pre>
                        {% endif %}
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Quantité disponible" type="number" id="quantityInStock"
                               name="quantityInStock" class="validate" value="{{produit.quantityInStock}}">
                        <label for="quantityInStock"> Quantité disponible : </label>
                         {% if errors.quantityInStock %}
                        <pre class="erreur">{{errors.quantityInStock}}</pre>
                        {% endif %}
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Le prix du produit"  id="MSRP" type="number"
                               name="MSRP" class="validate" value="{{produit.MSRP}}" step="any">
                        <label for="MSRP">  Prix $ (MSRP): </label>
                        {% if errors.MSRP %}
                        <pre class="erreur">{{errors.MSRP}}</pre>
                        {% endif %}
                    </div>


                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="Description" id="productDescription"
                                  name="productDescription"
                                  class="materialize-textarea"  maxlength="200">{{produit.productDescription}}</textarea>
                        <label for="productDescription">Description du produit : </label>
                        {% if errors.productDescription %}
                        <pre class="erreur">{{errors.productDescription}}</pre>
                        {% endif %}
                    </div>
                </div>

                <div class="row">

                    <div class="col s4">
                        <label for="productLine">Les lignes de produit :</label>
                        <select id="productLine" name="productLine" required>
                            <option value="" disabled selected>Veuillez choisir</option>
                            {% for line in lines %}
                            <option value="{{line.productLine}}" {{
                            'selected' if produit.productLine == line.productLine }}> {{line.productLine}}</option>
                            {% endfor %}
                        </select>
                         {% if errors.productLine %}
                            <pre class="erreur">{{errors.productLine}}</pre>
                        {% endif %}
                    </div>

                    <div class="col s4">
                        <label for="productVendor">Les vendeurs des produits :</label>
                        <select id="productVendor" name="productVendor" required>
                            <option value="" disabled selected>Veuillez choisir</option>
                            {% for vendor in vendors %}
                            <option value="{{vendor.productVendor}}" {{
                            'selected' if produit.productVendor == vendor.productVendor
                            }}>{{vendor.productVendor}}</option>
                            {% endfor %}
                        </select>
                         {% if errors.productVendor %}
                        <pre class="erreur">{{errors.productVendor}}</pre>
                        {% endif %}
                    </div>

                    <div class="col s4">
                        <label for="productScale">Les "scales" des produits :</label>
                        <select id="productScale" name="productScale" required>

                            <option value="" disabled selected>Veuillez choisir</option>
                            {% for scale in scales %}
                            <option value="{{scale.productScale}}" {{
                            'selected' if produit.productScale == scale.productScale
                            }}>{{scale.productScale}}</option>
                            {% endfor %}
                        </select>
                          {% if errors.productScale %}
                        <pre class="erreur">{{errors.productScale}}</pre>
                        {% endif %}
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="file" name="file" required>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" value="Effectuer">
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>

{% endblock %}