{% extends "index.html" %}
{% block content %}


<div class="container">
    <div class="section">

        <script defer="defer" type="text/javascript" src="/static/js/script1Panier.js"></script>


        <div class="card card-panel hoverable">

            <div class="card-image">
                <img id="p-img" src="https://loremflickr.com/300/300/{{produit.productLine}}">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{produit.productName}} ({{produit.MSRP}}$)<i
                        class="material-icons right">more_vert</i></span>

                <button class="btn waves-effect waves-light">
                    <a id="btn-ajouter-panier" class="white-text" href="#">Ajouter à mon panier
                        <i class="material-icons right">add_shopping_cart</i></a>
                </button>

                {% if user.info.employee_id %}
                <button class="btn waves-effect waves-light">
                    <a class="white-text" href="/produit/edit/{{produit.productCode}}">Modifier
                        <i class="material-icons right">edit</i></a>
                </button>
                <button class="btn waves-effect waves-light">
                    <a class="white-text" href="/produit/delete/{{produit.productCode}}">Supprimer
                        <i class="material-icons right">delete</i></a>
                </button>
                <button class="btn waves-effect waves-light">
                    <a class="white-text" href="/produit/add">Ajouter un produit
                        <i class="material-icons right">add</i></a>
                </button>
                {% endif %}


            </div>
            <div class="card-reveal">
                <span id="p-name" class="card-title grey-text text-darken-4"><i
                        class="material-icons right">close</i>{{produit.productName}}</span>
                <h6>Ligne de produit : <a id="p-productLine" href="/ligneProduit/detail/{{produit.productLine}}">{{produit.productLine}}</a>
                </h6>
                <h6>Code du produit : <span id="p-code">{{produit.productCode}}</span></h6>
                <h6>Vendeur : <span id="p-vendeur">{{produit.productVendor}}</span></h6>
                <p>Description de notre produit : {{produit.productDescription}}</p>
                <p>Product Scale : {{produit.productScale}}</p>
                <p>Qantite disponible : <span id="p-qte"> {{produit.quantityInStock}} </span></p>
                <p>Prix : <span id="p-prix">{{produit.MSRP}} $</span></p>

            </div>
        </div>


    </div>
</div>

{% endblock %}