{% extends "index.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" crossorigin="anonymous">


<div class="container">
    <div class="section">


        <div class="row">

            <h1 class="mt-5">Resultat de la recherche</h1>

            <table id="recherche" class="display" style="width:100%">

                <thead>

                <tr>
                    <th>Nom du produit</th>
                    <th>Vendeur</th>
                    <th>Quantité disponible</th>
                    <th>Prix ($)</th>
                    <th>Ligne de produit</th>
                </tr>

                </thead>

                <tbody>

                </tbody>

            </table>


        </div>


    </div>


    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script defer="defer">

        $(document).ready(function () {

            $('#recherche').DataTable({
                "ajax": `/api/recherche?search=${$('#keyword').val()}`,
                "columns": [
                    // {"data": "productName"},
                    {
                        "data": "productName",
                        "fnCreatedCell": function (nTd, sData, oData) {
                            $(nTd).html("<a href='/produit/detail/" + oData.productCode + "'>" + oData.productName + "</a>");
                        }
                    },
                    {"data": "productVendor"},
                    {"data": "quantityInStock"},
                    {"data": "MSRP"},
                    // {"data": "productLine"}
                    {
                        "data": "productLine",
                        "fnCreatedCell": function (nTd, sData, oData) {
                            $(nTd).html("<a href='/ligneProduit/detail/" + oData.productLine + "'>" + oData.productLine + "</a>");
                        }
                    }

                ]
            })

        })


    </script>

</div>


{% endblock %}