{% extends "index.html" %}
{% block content %}


<div class="container">


    <div class="section">

        {% if ok %}
        <div>
            <h5 class="infoV">La ligne de produit : "{{ligne.productLine}}" a été modifié avec succès!</h5>
        </div>
        {% endif %}

        {% if errors %}
        <div>
            <h5 class="infoR">Veuillez corriger les erreurs indiquées!</h5>
        </div>
        {% endif %}

        <form method="post" class="col s12">

            <div class="row">

                <div class="input-field col s6">
                    <input placeholder="Nom" type="text" id="productLine"
                           name="productLine" class="validate" value="{{ligne.productLine}}"  maxlength="50">
                    <label for="productLine"> Nom de le ligne de produit : </label>
                    {% if errors.productLine %}
                    <pre class="erreur">{{errors.productLine}}</pre>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Description" id="textDescription"
                              name="textDescription"
                              class="materialize-textarea">{{ligne.textDescription}}
                    </textarea>
                    <label for="textDescription">Description de la ligne de produit : </label>
                    {% if errors.textDescription %}
                    <pre class="erreur">{{errors.textDescription}}</pre>
                    {% endif %}
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" value="Effectuer">
                </div>

            </div>
        </form>

    </div>
</div>

{% endblock %}