{% extends "index.html" %}
{% block content %}


<div class="container">
    <div class="section">

        <h2>{{cat.productLine}}</h2>
        <p><strong>Description :</strong> {{cat.textDescription}}</p>

        {% if user.info.employee_id %}
        <button class="btn waves-effect waves-light">
            <a class="white-text" href="/ligneProduit/edit/{{cat.productLine}}">Modifier la ligne de produit
                <i class="material-icons right">edit</i></a>
        </button>
        <button class="btn waves-effect waves-light">
            <a class="white-text" href="/ligneProduit/add">Ajouter une ligne de produit
                <i class="material-icons right">add</i></a>
        </button>
        {% endif %}

        <h4>Les produits de cette ligne : </h4>
        <table class="highlight">
            <thead>
            <tr>
                <th>Code</th>
                <th>Quantite</th>
                <th>Nom du produit </th>
                <th> MSRP ($) </th>
                <th>Echelle</th>
                <th>Vendeur</th>
            </tr>
            </thead>
            <tbody>


           {% for produit in all %}
            <tr>
                <td>{{produit.productCode}}</td>
                <td>{{produit.quantityInStock}}</td>
                <td><a href="/produit/detail/{{produit.productCode}}"> {{produit.productName}}</a></td>
                <td> {{produit.MSRP}}</td>
                <td>{{produit.productScale}}</td>
                <td>{{produit.productVendor}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>

{% endblock %}