form {
    margin: 2px;
    padding: 2px;

}

body {
    font-family: verdana, sans-serif;
    background-color: #ddd;
}


nav ul .nav-text-icon i {
    display: inline;
}

.nav-text {
    position: relative;
    top: -7px;
    left: 5px;
}

.infoV {
    background-color: #227c22;
    color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px #75be5b;
    font-size: 95%;
}

.infoR {
    background-color: #fa4343;
    color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px #eaa1a1;
    font-size: 95%;

}

.erreur {
    color: red;
    font-size: 90%;
}

/* boutons menu authentifiaction */
.btn-auth {
    margin-bottom: 20px;
}

.btn-auth a {
    color: white;
}


.titre {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    padding: 2px;
    border-bottom: ridge 2px white;
    margin: 5px;
    margin-bottom: 8%;
}

.cacher {
    display: none !important;
}

.montrer {
    display: block !important;
}

.affichage-p {
    border: 5px solid lightskyblue;
    border-radius: 20px;
    width: fit-content;
    background-color: azure;
    margin: 5px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    left: 60%;

}

.nb-p {
    text-align: right;
    width: 40px !important;
    display: inline-block;
    margin: 5px !important;
}

.supp-p {
    color: red;
    background-color: bisque;
}

.tableau td {
    border: solid 1px whitesmoke;
}

.tableau tr td:hover {
    background-color: #ededf6;
}


.div-r {
    background-color: #bbb8b8;
    padding: 3px;
    border-radius: 5px 5px;
    position: absolute;
    z-index: 100;
}