{% extends "index.html" %}
{% block content %}


<div class="container">

    <div class="section">

        <script src="/static/js/historiquePanier.js" defer="defer" type="text/javascript" ></script>

        <div id="div-historique">


        </div>
    </div>

</div>


{% endblock %}