{% extends "index.html" %}
{% block content %}


<div class="container">

    <div class="section">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


        <div id="div-tableau" class="row">
            <form id="formPanier">
                <table id="tableau" class="hoverable tableau"></table>


                <div id="div-pay" class="cacher" style="margin-top:20px ">
                    <input id="btn-commande" style="margin: 10px" type="button" value="Commander" class="btn right">
                    <p class="right">Total de la commande :
                        <span id="total-commande"></span>
                    </p>
                </div>

            </form>


        </div>


    </div>

    <script defer type="text/javascript" src="/static/js/scriptVoirMonPanier.js"></script>
    <script defer src="/api/staticApi/paiement.js" type="text/javascript"></script>

</div>


{% endblock %}