{% extends 'index.html' %}
{% block content %}

<div class="container">
    <div class="section">

        <script defer="defer" type="text/javascript" src="/static/js/scriptCreationCompte.js"></script>

        <div class="row">

            <h1 class="titre">Création de compte</h1>


            {% if error %}
            <div class="infoR">

                <h5>Erreur!</h5>
                <p>{{ error }}</p>
            </div>
            {% endif %}

            <form id="formulaire" class="col s12" action="/auth/createAccount" method="post">


                <div class="row">
                    <div class=" input-field col s6">
                        <input type="text" name="nom" id="nom">
                        <label for="nom">Nom: </label>
                        <span id="msg-nom" class="erreur"></span>
                    </div>

                    <div class=" input-field col s6">
                        <input type="text" name="prenom" id="prenom">
                        <label for="prenom">Prénom: </label>
                        <span id="msg-prenom" class="erreur"></span>
                    </div>
                </div>

                <div class="row">
                    <div class=" input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input type="email" name="email" id="email">
                        <label for="email">Identifiant (Courriel): </label>
                        <span id="msg-email" class="erreur"></span>
                    </div>

                    <div class=" input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input type="text" name="phone" id="phone" maxlength="12">
                        <label for="phone">Numéro de téléphonne: </label>
                        <span id="msg-phone" class="erreur"></span>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s6 ">
                        <label for="passwordA">Veuillez choisir votre mot de passe: </label>
                        <input type="password" name="passwordA" id="passwordA">
                        <span id="msg-passwordA" class="erreur"></span>
                    </div>

                    <div class="input-field col s6 ">
                        <label for="passwordB">Veuillez confirmer votre mot de passe: </label>
                        <input type="password" name="passwordB" id="passwordB">
                        <span id="msg-passwordB" class="erreur"></span>

                    </div>
                </div>

                <div class="row">
                    <div class=" input-field col s6">
                        <input type="text" name="adresseA" id="adresseA">
                        <label for="adresseA">Adresse ligne 1 : </label>
                        <span id="msg-adresseA" class="erreur"></span>
                    </div>

                    <div class=" input-field col s6">
                        <input type="text" name="adresseB" id="adresseB">
                        <label for="adresseB">Adresse ligne 2: </label>
                        <span id="msg-adresseB" class="erreur"></span>
                    </div>
                </div>

                <div class="row">
                    <div class=" input-field col s3">
                        <input type="text" name="ville" id="ville">
                        <label for="ville">Ville: </label>
                        <span id="msg-ville" class="erreur"></span>
                    </div>

                    <div class="col s3">
                        <label for="etat">État :</label>
                        <select id="etat" name="etat">
                            <option value="" disabled selected>Veuillez choisir :</option>
                            <optgroup label="Canada">
                                <option value="ca">Alberta</option>
                                <option value="ca">Colombie-Britannique</option>
                                <option value="ca">Île-du-Prince-Édouard</option>
                                <option value="ca">Manitoba</option>
                                <option value="ca">Nouveau-Brunswick</option>
                                <option value="ca">Nouvelle-Écosse</option>
                                <option value="ca">Québec</option>
                                <option value="ca">Saskatchewan</option>
                                <option value="ca">Terre-Neuve-et-Labrador</option>
                                <option value="ca">Nunavut</option>
                                <option value="ca">Territoires du Nord-Ouest</option>
                                <option value="ca">Yukon</option>
                            </optgroup>
                            <optgroup label="Les États-unis">
                                <option value="usa">Alabama</option>
                                <option value="usa">Alaska</option>
                                <option value="usa">Arizona</option>
                                <option value="usa">Arkansas</option>
                                <option value="usa">California</option>
                                <option value="usa">Colorado</option>
                                <option value="usa">Connecticut</option>
                                <option value="usa">Delaware</option>
                                <option value="usa">Florida</option>
                                <option value="usa">Georgia</option>
                                <option value="usa">Hawaii</option>
                                <option value="usa">Idaho</option>
                                <option value="usa">Illinois</option>
                                <option value="usa">Indiana</option>
                                <option value="usa">Iowa</option>
                                <option value="usa">Illinois</option>
                                <option value="usa">Alabama</option>
                                <option value="usa">Iowa</option>
                                <option value="usa">Kansas</option>
                                <option value="usa">Kentucky</option>
                                <option value="usa">Louisiana</option>
                                <option value="usa">Maine</option>
                                <option value="usa">Maryland</option>
                                <option value="usa">Massachusetts</option>
                                <option value="usa">Michigan</option>
                                <option value="usa">Minnesota</option>
                                <option value="usa">Mississippi</option>
                                <option value="usa">Missouri</option>
                                <option value="usa">Montana</option>
                                <option value="usa">Nebraska</option>
                                <option value="usa">Nevada</option>
                                <option value="usa">New Hampshire</option>
                                <option value="usa">New Jersey</option>
                                <option value="usa">New Mexico</option>
                                <option value="usa">New York</option>
                                <option value="usa">North Carolina</option>
                                <option value="usa">North Dakota</option>
                                <option value="usa">Ohio</option>
                                <option value="usa">Oklahoma</option>
                                <option value="usa">Oregon</option>
                                <option value="usa">Pennsylvania</option>
                                <option value="usa">Rhode Island</option>
                                <option value="usa">South Carolina</option>
                                <option value="usa">South Dakota</option>
                                <option value="usa">Tennessee</option>
                                <option value="usa">Texas</option>
                                <option value="usa">Utah</option>
                                <option value="usa">Vermont</option>
                                <option value="usa">Virginia</option>
                                <option value="usa">Washington</option>
                                <option value="usa">West Virginia</option>
                                <option value="usa">Wisconsin</option>
                                <option value="usa">Wyoming</option>


                            </optgroup>
                        </select>
                        <span id="msg-etat" class="erreur"></span>
                    </div>

                    <div class=" input-field col s3">
                        <input type="text" name="codePostal" id="codePostal">
                        <label for="codePostal">Code postal </label>
                        <span id="msg-codePostal" class="erreur"></span>
                    </div>

                    <div class=" col s3">
                        <label for="country">Pays: </label>
                        <input type="text" name="country" id="country" readonly>
                        <span id="msg-country" class="erreur"></span>
                    </div>

                </div>


                <input id="btnSubmit" class="button btn" type="submit" value="Créer un compte">
            </form>


            <button class="btn btn-auth right ">
                <a href="/auth/loginForm">Déja un compte ? - Se connecter ici</a>
            </button>
        </div>
    </div>
</div>


{% endblock %}