{% extends 'index.html' %}
{% block content %}


<div class="container">
    <div class="section">

        <div class="row">

            <h4 class="titre">Informations sur votre compte:</h4>

            {% if not user.info.employee_id is none %}
            <h6>Statut : Administrateur</h6>
            {% endif %}

            <h5>Courriel / nom d'utilisateur : {{user.name}}</h5>

            {% if not user.info.customer_id is none %}
            <a href="/panier/historique">Accéder à mon historique d’achats </a>
            {% endif %}


            <div>
                <button class="button btn" style="margin-top: 10%" ><a style="color: white" href="/auth/disconnect"> Se deconnecter</a>
                </button>
            </div>

        </div>
    </div>
</div>


{% endblock %}