{% extends 'index.html' %}
{% block content %}


<div class="container">
    <div class="section">

        <div class="row">


            <h2 class="titre">Identification</h2>

            {% if error is not false %}
            <div class="infoR">

                <h5>Erreur!</h5>
                <p>{{ error }}</p>
            </div>
            {% endif %}


            <form action="/auth/loginForm" method="post">

                <div>
                    <div>
                        <label>Identifiant </label>
                        <input type="text" name="username" id="username">
                    </div>

                    <div>
                        <label>Mot de passe </label>
                        <input type="password" name="password" id="password">
                    </div>

                    <div>
                        <input class="button btn" type="submit" value="Se connecter">
                    </div>

                </div>

            </form>
            <div>
                <button class="btn btn-auth right ">
                    <a href="/auth/createAccount">Vous n'avez pas encore de compte ? -
                        Créer un compte ici</a></button>
            </div>


        </div>
    </div>
</div>


{% endblock %}