{% extends "index.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


<script src="/static/js/script1Panier.js"></script>
<script src="/static/js/home.js"></script>


<div class="container">
    {% if suppProd|length > 1 %}
    <div><h5 class="infoV">Le produit a été supprimé avec succès!</h5></div>
    {% endif %}

    {% if commande|length > 1 %}
    <div><h5 class="infoV">{{commande}}</h5></div>
    {% endif %}

    {% if messageConnexion|length > 0 %}
    <h4 class="infoV">{{messageConnexion}}</h4>
    {% endif %}

    {% if messageCreation|length > 0 %}
    <h4 class="infoV">{{messageCreation}}</h4>
    {% endif %}

    {% if mDisconnect|length > 0 %}
    <h4 class="infoV">{{mDisconnect}}</h4>
    {% endif %}


    <div>

        <div style="margin: 5px">
            <a class="btn next right"><i class="material-icons">navigate_next</i></a>
            <a class="btn prev left"><i class="material-icons">navigate_before</i></a>
        </div>

        <div class="carousel carousel-slider center">
            {% for prod in carousel %}
            <div class="carousel-item grey-text teal lighten-5">
                <h3>{{prod.productName}} <h6 id="p-code"> {{prod.productCode}}</h6></h3>
                <a><img width="200px" id="p-img" src="https://loremflickr.com/250/250/{{prod.productLine}}"></a>
                </br>
                <button class="btn waves-effect waves-light">
                    <a class="white-text" href="/produit/detail/{{prod.productCode}}">Détails...</a>
                </button>
                </br>
                <button class="btn waves-effect waves-light">
                    <a class="btn-ajouter-panier white-text">Ajouter à mon panier
                        <i class="material-icons right">add_shopping_cart</i></a>
                </button>
            </div>
            {% endfor %}
        </div>

    </div>


    <div class="section">
        <div class="row">

            <div class="col s9">
                <h5>Voici les 5 produits disponibles en plus grande quantité : </h5>
            </div>

            {% if user.info.employee_id %}
            <button class="btn waves-effect waves-light">
                <a class="white-text" href="/produit/add">Ajouter un produit
                    <i class="material-icons right">add</i></a>
            </button>
            {% endif %}


        </div>

        <div class="row">
            {% for prod in prods %}
            <div class="col hoverable">
                <div class="card ">

                    <div class="card-image">
                        <img src="https://loremflickr.com/300/300/{{prod.productLine}}">
                    </div>

                    <div class="card-content">
                        <h6>{{prod.productName}}</h6>
                        <p>{{prod.MSRP}} $</p>
                    </div>
                    <div class="card-action right-align box">
                        <a href="/produit/detail/{{prod.productCode}}">Plus..</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>


    </div>


    <div class="section">
        <div class="row">
            <div class="col s7">
                <h4>Et voilà nos lignes de produits:</h4>
            </div>

            {% if user.info.employee_id %}
            <button class="btn waves-effect waves-light">
                <a class="white-text" href="/ligneProduit/add">Ajouter une ligne de produit
                    <i class="material-icons right">add</i></a>
            </button>
            {% endif %}

        </div>

        <div class="row">

            {% for lp in lignesProds %}
            <div class="col s6 hoverable">
                <div class="card  blue-grey darken-1">
                    <div>
                        <div class="card-image">
                            <img src="https://loremflickr.com/1000/1000/{{lp.productLine}}">
                        </div>
                    </div>

                    <div class="card-content white-text">
                        <span class="card-title blue-grey">{{lp.productLine}}</span>
                        <p>{{lp.textDescription}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/ligneProduit/detail/{{lp.productLine}}">Afficher tous les produits de cette
                            catégorie</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

    </div>

</div>

<script>

    $(document).ready(function () {
        $('.carousel').carousel();

        $('.prev').click(function (e) {
            $('.carousel').carousel('prev');
            e.preventDefault();
            e.stopPropagation();

        });

        $('.next').click(function (e) {
            $('.carousel').carousel('next');
            e.preventDefault();
            e.stopPropagation();

        });

    });
</script>
{% endblock %}