<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>TP4: Boutique en lien</title>

    <!-- CSS  -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->

    <!--    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"-->
    <!--          crossorigin="anonymous">-->


    <script src="/api/staticApi/recherche.js" type="text/javascript" defer="defer"></script>
    <script src="/static/js/util-ajax.js" type="text/javascript"></script>

</head>
<body>
<nav class="light-blue lighten-1" role="navigation">

    <div class="nav-wrapper container">

        <a id="logo-container" href="/" class="brand-logo">
            <img style="width: 65px" src="/static/images/logo.png"
                 class="brand-logo">
        </a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li class="nav-text-icon">
                <a href="/"><i class="material-icons">home</i></a>
            </li>

            <li>
                {% if user.name == 'Guest' %}
                <a href="/auth/loginForm"><i id="btn-panier" class="material-icons">shopping_cart</i></a>
                {% else %}
                <a><i id="btn-panier" class="material-icons">shopping_cart</i></a>
                <script type="text/javascript" defer="defer" src="/static/js/scriptAffichagePanier.js"></script>
                {% endif %}
            </li>
            <li class="nav-text-icon">
                <a href="/auth/loginForm">
                    <i class="material-icons">account_circle</i>
                    {% if user.name == 'Guest' %}
                    <span class="nav-text">SE CONNECTER</span>
                    {% else %}
                    <span class="nav-text">{{user.name}}</span>
                    {% endif %}
                </a>
            </li>
        </ul>


    </div>
</nav>
<ul id="nav-mobile" class="sidenav">
    <li><a href="/">Accueil</a></li>
    <li>
        {% if user.name == 'Guest' %}
        <a id="btn-panier" href="/auth/loginForm">Panier</a>
        {% else %}
        <a href="/panier"><i id="btn-panier" class="material-icons">shopping_cart</i></a>
        <script type="text/javascript" defer="defer" src="/static/js/scriptAffichagePanier.js"></script>
        {% endif %}
    </li>
    <li><a href="/auth/loginForm">
        {% if user.name == 'Guest' %}
        SE CONNECTER
        {% else %}
        {{user.name}}
        {% endif %}
    </a>
    </li>
</ul>

<div id="creation-panier" class="affichage-p cacher"></div>
<div class="container">
    <div class="section">

        <form action="/produit/recherche" method="post">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s11">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="keyword" name="keyword" value="{{keyword}}">
                            <label for="keyword">Rechercher</label>

                            <div class="div-r cacher" id="affichage-recherche"></div>

                        </div>
                        <div class="valign-wrapper">
                            <button id="btn-rech-p" class="btn-large" type="submit" name="action">Rechercher</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>


{% block content %}
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div>

            </div>
        </div>
    </div>
</div>
{% endblock %}


<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="white-text">Ahmed Toumi</h5>
                <p class="grey-text text-lighten-4">Bienvenue dans ma boutique en ligne, crée avec amour mais plein
                    plein plein de fatigue</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize :)</a>
        </div>
    </div>
</footer>


<!--  Scripts Materialize-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>



<!--  <script src="js/init.js"></script>-->
<!-- script obligatoire pour le fonctionnement des select a cause du framework -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);

        var elemss = document.querySelectorAll('.sidenav');
        var instancess = M.Sidenav.init(elemss);
    });


    // $("#btn-rech-p").click(function () {
    //     alert($('#keyword').val());
    // });

</script>

<script>

    $(document).ready(function () {

        $('#carousel-acceuil').carousel();
        setInterval(function () {
            $('#carousel-acceuilt').carousel('next');

        }, 2000);
    })
</script>

</body>
</html>
